.wrapper {
  margin: var(--separator) 15%;
  outline: none;
}

.wrapper h2 {
  margin: 0px auto;
}

.wrapper h3:before {
  border-top: 1px solid #000;
  content: '';
  display: block;
  margin: var(--separator) auto;
  height: 0;
  width: var(--divider-width);
}