.segment {
  margin: var(--separator) 0;
  margin-bottom: calc(3 * var(--separator));
  position: relative;
  overflow: hidden;
}

.segment h5 {
  margin: 0px auto;
}

.segmentPrimary h5 {
  font-weight: bold;
}