h2 {
  font-size: var(--h2-font-size);
  line-height: 111%;;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.02em;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: var(--h3-font-size);
  line-height: 114%;
  text-align: center;
  letter-spacing: -0.02em;
}

h5 {
  font-size: 21px;
  line-height: 190%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}