@import "typography.css";

body {
  margin: 0;
  font-family: var(--font-times);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* responsive sizes */
:root {
  --font-times: 'Times New Roman', 'Times', serif;
  --h2-font-size: 5vw;
  --h3-font-size: 3.88vw;
  --h5-font-size: 12px;
  --cta-font-size: 2.8vw;
  --cta-v-padding: 3vw;
  --grid: 8px;
  --arrow-width: 4vw;
  --pip-size: 6px;
  --pip-spacing: 5px;
  --separator: 28px;
  --divider-width: 24px;
}
@media screen and (min-width: 768px) {
  :root {
    --h5-font-size: 1.75vw;
    --pip-size: 1.1vw;
    --pip-spacing: 1vw;
    --separator: 8vw;
    --divider-width: 6vw;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --h2-font-size: 72px;
    --h3-font-size: 56px;
    --h5-font-size: 21px;
    --cta-font-size: 18px;
    --cta-v-padding: 16px;
    --arrow-width: 56px;
    --pip-size: 16px;
    --pip-spacing: 12px;
    --separator: 96px;
    --divider-width: 84px;
  }
}

